<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 블루투스 권한 -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:name=".myapp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kiosk"
        tools:targetApi="31">
        <activity
            android:name=".KioskMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".KioskUser"
            android:exported="false" />
        <activity
            android:name=".KioskJoin"
            android:exported="false" />
        <activity
            android:name=".Intro_7_b"
            android:exported="false" />
        <activity
            android:name=".Intro_7_s"
            android:exported="false" />
        <activity
            android:name=".Intro_7_d"
            android:exported="false" />
        <activity
            android:name=".Intro_8_1"
            android:exported="false" />
        <activity
            android:name=".Intro_8_2"
            android:exported="false" />
        <activity
            android:name=".Intro_8_3"
            android:exported="false" />
        <activity
            android:name=".Intro_8_4"
            android:exported="false" />
        <activity
            android:name=".Intro_8_5"
            android:exported="false" />
        <activity
            android:name=".Intro_8_6"
            android:exported="false" />
        <activity
            android:name=".Intro_8_7"
            android:exported="false" />
        <activity
            android:name=".Intro_9"
            android:exported="false" />
        <activity
            android:name=".TO_Card_Insert"
            android:exported="false" />
        <activity
            android:name=".TO_Pay"
            android:exported="false" />
        <activity
            android:name=".TO_Pay_list"
            android:exported="false" />
        <activity
            android:name=".TO_Get_Num"
            android:exported="false" />
        <activity
            android:name=".TO_Is_fee_examption"
            android:exported="false" />
        <activity
            android:name=".TO_ADD"
            android:exported="false" />
        <activity
            android:name=".TO_Issuance_info"
            android:exported="false" />
        <activity
            android:name=".TO_SSN2"
            android:exported="false" />
        <activity
            android:name=".TO_SSN"
            android:exported="false" />
        <activity
            android:name=".Town_Office"
            android:exported="false" />
        <activity
            android:name=".Hospital_Medical_Record"
            android:exported="false" />
        <activity
            android:name=".Hospital_Printing_complete"
            android:exported="false" />
        <activity
            android:name=".Hospital_Printing"
            android:exported="false" />
        <activity
            android:name=".Hospital_Pay_Remove"
            android:exported="false" />
        <activity
            android:name=".Hospital_Pay"
            android:exported="false" />
        <activity
            android:name=".Hospital_Pay_List"
            android:exported="false" />
        <activity
            android:name=".Hospital_in_progress"
            android:exported="false" />
        <activity
            android:name=".Hospital_Prescription"
            android:exported="false" />
        <activity
            android:name=".Hospital_Main"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Hospital_Receipt_Congratulation"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Fastfood_Congratulation"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Bus_Congratulations"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Bus_Destination"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Bus_Refund"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Bus_Reserved"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Bus_Reserved_1"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Bus_SelectDestination"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Bus_SelectBustype"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Bus_SelectSeat"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Bus_VerifyTicket"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Bus_Main"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Fastfood_End_1"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Fastfood_End_2"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Fastfood_End_3"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Fastfood_Pay_Table"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Fastfood_Plus"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Fastfood_Popup_Count"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Fastfood_Popup_Total"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Fastfood_Popup_Size"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Fastfood_Popup_Side"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Fastfood_Popup_Set"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Fastfood_Popup_Reco"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Fastfood_Popup_Drink"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Fastfood_Pay_Meth"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Fastfood_Pay"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Fastfood_Order_Hist"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Fastfood_Menu_Side"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Fastfood_Menu_Drink"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Fastfood_Menu_Burger"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Fastfood_Main"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Congratulations"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Hospital_Pay_Complete"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Hospital_Pay"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Hospital_Acceptance_Complete"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Hospital_Acceptance"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Hospital_Receipt_Complete"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Hospital_Department"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Hospital_Receipt"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Hospital"
            android:exported="false" />
        <activity
            android:name=".Kiosk_R_Part"
            android:exported="false" />
        <activity
            android:name=".Kiosk_30_2"
            android:exported="false" />
        <activity
            android:name=".Kiosk_31"
            android:exported="false" />
        <activity
            android:name=".Kiosk_30"
            android:exported="false" />
        <activity
            android:name=".Kiosk_29_2"
            android:exported="false" />
        <activity
            android:name=".Kiosk_29"
            android:exported="false" />
        <activity
            android:name=".Kiosk_28"
            android:exported="false" />
        <activity
            android:name=".Kiosk_27"
            android:exported="false" />
        <activity
            android:name=".Kiosk_26_2"
            android:exported="false" />
        <activity
            android:name=".Kiosk_26"
            android:exported="false" />
        <activity
            android:name=".Kiosk_25"
            android:exported="false" />
        <activity
            android:name=".Kiosk_24"
            android:exported="false" />
        <activity
            android:name=".Kiosk_23"
            android:exported="true" />
        <activity
            android:name=".Kiosk_21"
            android:exported="true" />
        <activity
            android:name=".Kiosk_19"
            android:exported="true" />
        <activity
            android:name=".Kiosk_18"
            android:exported="true" />
        <activity
            android:name=".Kiosk_16"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".Kiosk_15"
            android:exported="true" />
        <activity
            android:name=".Kiosk_14_refund"
            android:exported="true" />
        <activity
            android:name=".Kiosk_14_reserved_1"
            android:exported="true" />
        <activity
            android:name=".Kiosk_14_reserved"
            android:exported="true" />
        <activity
            android:name=".Kiosk_14"
            android:exported="true" />
        <activity
            android:name=".Kiosk_13"
            android:exported="true" />
        <activity
            android:name=".Kiosk_12"
            android:exported="false" />
        <activity
            android:name=".Kiosk_11"
            android:exported="false" />
        <activity
            android:name=".Kiosk_10"
            android:exported="false" />
        <activity
            android:name=".Kiosk_9"
            android:exported="false" />
        <activity
            android:name=".Kiosk_8_7"
            android:exported="false" />
        <activity
            android:name=".Kiosk_8_6"
            android:exported="false" />
        <activity
            android:name=".Kiosk_8_5"
            android:exported="false" />
        <activity
            android:name=".Kiosk_8_4"
            android:exported="false" />
        <activity
            android:name=".Kiosk_8_3"
            android:exported="false" />
        <activity
            android:name=".Kiosk_8_2"
            android:exported="false" />
        <activity
            android:name=".Kiosk_8_1"
            android:exported="false" />
        <activity
            android:name=".Kiosk_7_d"
            android:exported="false" />
        <activity
            android:name=".Kiosk_7_s"
            android:exported="false" />
        <activity
            android:name=".Kiosk_7_b"
            android:exported="false" />
        <activity
            android:name=".Kiosk_6"
            android:exported="false" />
        <activity
            android:name=".Kiosk_5"
            android:exported="false" />
        <activity
            android:name=".Kiosk_4"
            android:exported="false" />
        <activity
            android:name=".Kiosk_3"
            android:exported="false" />
        <activity
            android:name=".Kiosk_2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>