<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
    <application
        android:name=".myapp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kiosk"
        tools:targetApi="31">
        <activity
            android:name=".Kiosk_32"
            android:exported="false" />
        <activity
            android:name=".Kiosk_31"
            android:exported="false" />
        <activity
            android:name=".Kiosk_30"
            android:exported="false" />
        <activity
            android:name=".Kiosk_29"
            android:exported="false" />
        <activity
            android:name=".Kiosk_28"
            android:exported="false" />
        <activity
            android:name=".Kiosk_27"
            android:exported="false" />
        <activity
            android:name=".Kiosk_26"
            android:exported="false" />
        <activity
            android:name=".Kiosk_25"
            android:exported="false" />
        <activity
            android:name=".Kiosk_24"
            android:exported="false" />
        <activity
            android:name=".Kiosk_23"
            android:exported="true" />
        <activity
            android:name=".Kiosk_22"
            android:exported="true" />
        <activity
            android:name=".Kiosk_21"
            android:exported="true" />
        <activity
            android:name=".Kiosk_20"
            android:exported="true" />
        <activity
            android:name=".Kiosk_19"
            android:exported="true" />
        <activity
            android:name=".Kiosk_18"
            android:exported="true" />
        <activity
            android:name=".Kiosk_17"
            android:exported="true" />
        <activity
            android:name=".Kiosk_16"
            android:exported="true" />
        <activity
            android:name=".Kiosk_15"
            android:exported="true" />
        <activity
            android:name=".Kiosk_14"
            android:exported="true" />
        <activity
            android:name=".Kiosk_13"
            android:exported="true" />
        <activity
            android:name=".Kiosk_12"
            android:exported="false" />
        <activity
            android:name=".Kiosk_11"
            android:exported="false" />
        <activity
            android:name=".Kiosk_10"
            android:exported="false" />
        <activity
            android:name=".Kiosk_9"
            android:exported="false" />
        <activity
            android:name=".Kiosk_7_d"
            android:exported="false" />
        <activity
            android:name=".Kiosk_7_s"
            android:exported="false" />
        <activity
            android:name=".Kiosk_7_b"
            android:exported="false" />
        <activity
            android:name=".Kiosk_6"
            android:exported="false" />
        <activity
            android:name=".Kiosk_5"
            android:exported="false" />
        <activity
            android:name=".Kiosk_4"
            android:exported="false" />
        <activity
            android:name=".Kiosk_3"
            android:exported="false" />
        <activity
            android:name=".Kiosk_2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>